
.navbar-nav {
   padding-right: 2.5rem;
   
}

.navbar{
   background-color: blue;
   color: #fff !important;
}

.texto-contacto{
   width: 100%;
   margin: 100px auto;
   background-color: yellow;
}