

.banner-image{
    background-image:url(../img/pexels-baryslau-shoot-12165306.jpg);
    background-size: cover;
}

.nav-link{
    transition: all;
}

.nav-link:hover{
   font-size: 20px;
   font-weight: 600;
   transition: 0.2s;
}

.nombre-brand{
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 500;
}

.slogan{
    font-family: 'Ubuntu Mono', monospace;
    font-style: italic;
}

.descripcion-negocio{
    padding: 10px 10%;
}

.seccion-color{
    background-color: lightslategrey;
}


.img-sec {
    padding: 100px 10px;
}

.img-sec > img {
    border-radius: 5px 5px 5px 0;
}

.text-sec{
    text-align: left;
    margin: 150px auto;
    padding: 50px;
    
}

.wrap{
    /* background-color: #fff; */
    padding: 2rem 3rem;
    text-align: center;
    color: #fff;
    border: 3px solid #fff;
    box-shadow: 0px 0px 25px #222;
    backdrop-filter: blur(7px);
  }
